  :root {
    color-scheme: light dark;
  }

@import 'tailwindcss';
@import '@nuxt/ui';

@config '#layers/core/tailwind.config.js';

@import '#layers/core/app/assets/css/reset.css';
@import '#layers/core/app/assets/css/accessibility.css';
